.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: #36d1dc;
  background-image: linear-gradient(#36d1dc, #5b86e5);
}
#app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#temp{
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
#temp #temp-value{
  color: #fff;
  font-size: 6rem;
}

#temp-icon{
  margin: 2rem;
  width: 10rem;
  height: auto;
}
#location{
  font-family: sans-serif;
  color: #e0e0e0;
  font-size: 2.5rem;
}
#climate{
  color: #e0e0e0;
  font-size: 2rem;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
